@using Microsoft.AspNetCore.Html;
@model List<Brand>
@{
    int pageIndex = (int)ViewData["PageIndex"]!;
    int totalPages = (int)ViewData["TotalPages"]!;

    string search = (string)ViewData["Search"]!;

    string column = (string)ViewData["Column"]!;
    string orderBy = (string)ViewData["OrderBy"]!;

    HtmlString getArrow(string tableColumn)
    {
        if (tableColumn != column) return new HtmlString("");

        if (orderBy == "desc")
        {
            return new HtmlString("<i class='bi bi-arrow-down'></i>");
        }

        return new HtmlString("<i class='bi bi-arrow-up'></i>");
    }

}

<h2 class="text-center mb-5"> Danh sách nhà xuất bản </h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Brands" asp-action="Create"> Thêm nhà xuất bản mới </a>
    </div>
    <div class="col">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" value="@search" placeholder="Tìm kiếm bằng tên nhà xuất bản" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<script>
    function sortTable(column) {
        let = orderBy = "desc"
        let currentColumn = "@column";
        let currentOrder = "@orderBy";
        if (column === currentColumn) {
            if (currentOrder == "asc") orderBy = "desc";
            else orderBy = "asc";
        }
        window.location.href = "?search=@(search)&column=" + column + "&orderBy=" + orderBy
    }
</script>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="cursor: pointer;" onclick="sortTable('BrandId')">STT @getArrow("BrandId")</th>
            <th style="cursor: pointer;" onclick="sortTable('BrandName')">Tên nhà xuất bản @getArrow("BrandName")</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.BrandId</td>
                <td>@brand.BrandName</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Brands" asp-action="Edit" asp-route-id="@brand.BrandId"> Edit </a>
                    <a class="btn btn-primary btn-sm btn-danger" asp-controller="Brands" asp-action="Delete" asp-route-id="@brand.BrandId" onclick="return confirm('Bạn chắc chắn muốn xóa?')"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            string active = "";
            if (i == pageIndex) active = "active";
            <li class="page-item @active">
                <a class="page-link" asp-route-pageIndex="@i"
                   asp-route-search="@search" asp-route-column="@column" asp-route-orderBy="@orderBy">@i</a>
            </li>
        }
    </ul>
</nav>