@using Microsoft.AspNetCore.Html;
@model List<Product>
@{
    int pageIndex = (int)ViewData["PageIndex"]!;
    int totalPages = (int)ViewData["TotalPages"]!;

    string search = (string)ViewData["Search"]!;

    string column = (string)ViewData["Column"]!;
    string orderBy = (string)ViewData["OrderBy"]!;

    HtmlString getArrow(string tableColumn)
    {
        if (tableColumn != column) return new HtmlString("");

        if (orderBy == "desc")
        {
            return new HtmlString("<i class='bi bi-arrow-down'></i>");
        }

        return new HtmlString("<i class='bi bi-arrow-up'></i>");
    }

}

<h2 class="text-center mb-5"> Danh sách sản phẩm </h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Create"> Thêm sản phẩm mới </a>
    </div>
    <div class="col">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" value="@search" placeholder="Tìm kiếm bằng Tên sách hoặc Tác giả" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<script>
    function sortTable(column) {
        let = orderBy = "desc"
        let currentColumn = "@column";
        let currentOrder = "@orderBy";
        if (column === currentColumn) {
            if (currentOrder == "asc") orderBy = "desc";
            else orderBy = "asc";
        }
        window.location.href = "?search=@(search)&column=" + column + "&orderBy=" + orderBy
    }
</script>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="cursor: pointer;" onclick="sortTable('Id')">STT @getArrow("Id")</th>
            <th style="cursor: pointer;" onclick="sortTable('BookName')">Tên Sách @getArrow("BookName")</th>
            <th style="cursor: pointer;" onclick="sortTable('Brand')">Nhà xuất bản @getArrow("Brand")</th>
            <th style="cursor: pointer;" onclick="sortTable('Author')">Tác giả @getArrow("Author")</th>
            <th style="cursor: pointer;" onclick="sortTable('Category')">Danh mục @getArrow("Category")</th>
            <th style="cursor: pointer;" onclick="sortTable('Price')">Giá @getArrow("Price")</th>
            <th >Hình ảnh </th>
            <th style="cursor: pointer;" onclick="sortTable('CreatedAt')">Ngày tạo @getArrow("CreatedAt")</th>
            <th style="cursor: pointer;" onclick="sortTable('Stock')">Số lượng @getArrow("Stock")</th>
            <th >Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.BookName</td>
                <td>@product.Brand</td>
                <td>@product.Author</td>
                <td>@product.Category</td>
                <td>@(product.Price) VND</td>
                <td><img src="~/products/@product.ImageFileName" width="100" /></td>
                <td>@product.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>@product.Stock</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id"> Edit </a>
                    <a class="btn btn-primary btn-sm btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" onclick="return confirm('Bạn chắc chắn muốn xóa?')"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            string active = "";
            if (i == pageIndex) active = "active";
            <li class="page-item @active"><a class="page-link" asp-route-pageIndex="@i"
               asp-route-search="@search" asp-route-column="@column" asp-route-orderBy="@orderBy" >@i</a></li>
        }
    </ul>
</nav>